{{ review.beer.name }}<br/>
{{ review.date }}<br/>
<br/>
{{ review.content }}<br/>
<br/>
TL;DR: {{ review.rating }}<br/>
<br/>
Comments<br/>
{% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
<form action="/review/{{ review.id }}/comment/" method="post">
  {% csrf_token %}
  <label for="name">Name:</label><input id="author" name="author" placeholder="Your name"><br/>
  <label for="content">Comment</label><br/>
  <textarea id="content" name="content" rows="10" cols="60"></textarea><br/>
  <input type="submit" value="Submit comment" />
</form>
{% for comment in comments %}
{{ comment.author }}<br/>
{{ comment.timestamp }}<br/>
{{ comment.content }}<br/>
<br/>
{% endfor %}
