{% extends "beer/base.html" %}
{% load beer_extras %}

{% block content %}
<h2><a href="/beer/{{ review.beer.id }}/{{ review.beer.name|seo_friendlify }}/">{{ review.beer.name }}</a> (<a href="/brewery/{{ review.beer.brewery.id }}/{{ review.beer.brewery.name|seo_friendlify }}/">{{ review.beer.brewery.name }}</a>)</h2>
<p class="date">Reviewed on {{ review.date }}; {{ review.volume }} {{ review.get_container_display.lower }}</p>
<p><strong>TL;DR:</strong> {{ review.rating }} / 100</p>
<p><strong>External ratings:</strong> {{ review.beer.external_rating }}</p>
{% if review.pic %}<img src="{{ STATIC_URL }}{{ review.pic }}">{% endif %}
<div class="content">{{ review.content }}</div>
{% endblock %}

{% block sidebar %}
<h3>Comments</h3>
{% if error_message %}<p style="color: red;">{{ error_message }}</p>{% endif %}
<form action="/review/{{ review.id }}/comment/" method="post">
  {% csrf_token %}
  <label for="name">Name:</label><input id="author" name="author" placeholder="Your name"><br/>
  <label for="content">Comment</label><br/>
  <textarea id="content" name="content" rows="10" cols="60"></textarea><br/>
  <input type="submit" value="Submit comment" />
</form>

{% for comment in comments %}
<div class="comment">
<p class="author">{{ comment.author }} on {{ comment.timestamp }}</p>
<p class="content">{{ comment.content }}</p>
</div>
{% endfor %}
{% endblock %}
